<!doctype html>
<html lang="en">

<head>
    <title>Rim Jobs</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome 6.2.0 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Rim Jobs CSS -->
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
    <header id="navbar"></header>
    <main>
        <div id="cart">
            <div v-if="cartItems.length === 0">
                <center><h3>Your cart is currently empty.</h3></center>
            </div>
            <div v-else>
                <div class="container">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Price Each</th>
                                <th>Weight</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in cartItems" :key="item.item_id">
                                <td><img v-bind:src="item.pictureURL" width="50" height="50"></td>
                                <td>{{ item.item_name }}</td>
                                <td>{{ item.quantity }}x</td>
                                <td>${{ item.price }}</td>
                                <td>{{ item.weight }} lbs</td>
                                <td>{{ item.quantity * item.price }}</td>
                                <td>
                                    <button class="btn btn-light" @click="removeFromCart(index)">Remove</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td><strong>Total Weight:</strong></td>
                                <td>{{ totalWeight }}</td>
                                <td></td>
                                <td><strong>Total:</strong></td>
                                <td>{{ total }}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>
<footer>
    <!-- place footer here -->
</footer>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Vue.js -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!-- Components -->
<script src="/fetchNavbar.js"></script>
<script src="/fetchParts.js"></script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                cartItems: JSON.parse(localStorage.getItem('cartItems')) || []
            }
        },
        computed: {
            total() {
                return this.cartItems.reduce((total, item) => {
                    return total + (item.quantity * item.price);
                }, 0);
            },
            totalWeight() {
                return this.cartItems.reduce((total, item) => {
                    return total + (item.quantity * item.weight);
                }, 0);
            }
        },
        methods: {
            removeFromCart(index) {
                this.cartItems.splice(index, 1);
                localStorage.setItem('cartItems', JSON.stringify(this.cartItems));
            }
        }
    }).mount('#cart');
</script>

</html>