<!doctype html>
<html lang="en">

<head>
  <title>Find my Order</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <!-- Bootstrap CSS v5.3.0 Alpha -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
  <!-- FontAwesome 6.4.0 CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <!-- Rim Jobs CSS -->
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body class="stripe s200">
  <header id="navbar"></header>
  <main class="drawer">
    <div class="container UltorBG Stillwater borderSilver">
      <div id="app">
        <h1 class="Shrikhand dropShadow m-2"><i class="fas fa-truck-fast"></i></i> Find My Order</h1>
        <div class="py-2 text-center">
          <img class="d-block mx-auto mb-2 dropShadow" src="/img/ChromeRims.webp">
          <h2><i class="fas fa-hashtag"></i> Enter your order number to to look up order information.</h2>
        </div>
        <form class="py-2" v-on:submit.prevent="searchForOrder">
          <div class="row m-2">
            <div class="form-floating Steelport col">
              <input type="text" class="form-control dropShadow" id="orderNumber" v-model="orderToFind" placeholder="Order number:" required>
              <label class="ps-4" for="orderNumber">Order Number:</label>
            </div>
            <button class="btn btn-lg btn-rim StillwaterBG fw-bold fs-3 dropShadow col" type="submit">Submit</button>
          </div>
          <h4 class="Pierce fs-5 mx-4" v-if="error">{{ error }}</h4>
        </form>
        <div v-if="order">
          <div class="row">
            <div class="col">
              <h2 class="UltorBG borderSilver dropShadow p-2 Stillwater"><span class="dropShadow"><i class="fas fa-hashtag"></i> Order ID: {{ order.foundOrder.id }}</span></h2>
              <h2 class="borderStill SteelportBG dropShadow p-2 Pierce"><span class="dropShadow"><i class="fas fa-calendar-check"></i> Order Date: {{ order.foundOrder.date }}</span></h2>
              <h2 class="borderStill SteelportBG dropShadow p-2 Pierce"><span class="dropShadow"><i class="fas fa-circle-dot"></i> Order Status: {{ order.foundOrder.status }}</span></h2>
            </div>
            <div class="col">
              <h2 class="UltorBG borderSilver dropShadow p-2 Stillwater"><span class="dropShadow"><i class="fas fa-id-card"></i> Customer Information:</span></h2>
              <h4 class="borderStill SteelportBG dropShadow p-2 Pierce"><span class="dropShadow"><i class="fas fa-id-badge"></i> Name: {{ order.foundOrder.name }}</span></h4>
              <h4 class="borderStill SteelportBG dropShadow p-2 Pierce"><span class="dropShadow"><i class="fas fa-envelope"></i> Email: {{ order.foundOrder.email }}</span></h4>
              <h4 class="borderStill SteelportBG dropShadow p-2 Pierce"><span class="dropShadow"><i class="fas fa-map-location-dot"></i> Address: {{ order.foundOrder.address }}</span></h4>
            </div>
          </div>
          <h2 class="UltorBG borderSilver dropShadow p-2 Stillwater mt-1"><span class="dropShadow"><i class="fas fa-boxes-stacked"></i> Order Contents:</span></h2>
          <div class="StillwaterBG borderSilver dropShadow mb-3">
            <table class="table table-striped table-hover table-sm fw-bold fs-3">
              <thead class="SteelportBG borderStill Pierce">
                <tr class="dropShadow">
                  <th></th>
                  <th><i class="fas fa-hashtag"></i> Part Number</th>
                  <th><i class="fas fa-tag"></i> Product Name</th>
                  <th><i class="fas fa-x"></i> Quantity</th>
                  <th><i class="fas fa-filter-circle-dollar"></i> Price Each</th>
                  <th><i class="fas fa-weight-hanging"></i> Weight Each</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr class="Ultor fw-bold fs-4 text-capitalize" v-for="part in order.orderItems">
                  <td><img class="borderSilver m-2" :src="part.pictureURL" alt="prev" width="50" height="50"></td>
                  <td>{{ part.number }}</td>
                  <td>{{ part.description }}</td>
                  <td>{{ part.amount }}</td>
                  <td>${{ part.price }}</td>
                  <td>{{ part.weight }} lbs</td>    
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <p class="SevenSegment fw-bold fs-2 borderSilver px-2 dropShadow">Total Weight: {{ order.foundOrder.weight }} lbs</p>
            <div class="row fw-bold fs-2 px-2 dropShadow">
              <p class="col-4 SevenSegment borderSilver">Part cost: ${{ order.foundOrder.amount }}</p>
              <p class="col-4 SevenSegment borderSilver">Shipping cost: ${{ order.foundOrder.shipping }}</p>
              <p class="col-4 SevenSegment borderSilver">Tax: 10%</p>
            </div>
            <p class="SevenSegment fw-bold fs-2 borderSilver px-2 dropShadow">Total: ${{ parseFloat(((order.foundOrder.amount + order.foundOrder.shipping) * 1.1)).toFixed(2) }}</p>
          </div>
        </div>     
      </div>
    </div>
    <footer class="d-flex justify-content-center hideme">
      <img class="mx-auto w-25" src="/img/handle.png">
    </footer>
  </main>
</body>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <!-- Vue.js -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- Components -->
  <script src="/fetchNavbar.js"></script>
  <script src="/findmyorder.js"></script>

</html>
