<!doctype html>
<html lang="en">

<head>
  <title>Rim Jobs</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <!-- FontAwesome 6.2.0 CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <!-- Rim Jobs CSS -->
  <link rel="stylesheet" href="/css/stylesheet.css">
  <style>
  </style>
</head>

<body>
  <header id="navbar"></header>
  <main>
    <div class="container-fluid borderSilver">
      <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
          <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
          <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
          <li data-bs-target="#carouselId" data-bs-slide-to="3" aria-label="Fourth slide"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img src="https://i.redd.it/eu73w8earfn91.jpg" height="600" class="w-100 d-block blurit" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h3>Title</h3>
              <p>Description</p>
            </div>
          </div>

          <div class="carousel-item">
            <img src="https://i.redd.it/5jyzauae2wh41.jpg" height="600" class="w-100 d-block blurit" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h3>Title</h3>
              <p>Description</p>
            </div>
          </div>

          <div class="carousel-item">
            <img src="https://i.redd.it/wgycm02p8pc61.jpg" height=600 class="w-100 d-block blurit" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h3>Title</h3>
              <p>Description</p>
            </div>
          </div>

          <div class="carousel-item">
            <img src="https://i.redd.it/kv4jtvsfwhe11.jpg" height="600" class="w-100 d-block blurit" alt="Fourth slide">
            <div class="carousel-caption d-none d-md-block">
              <h3>Title</h3>
              <p>Description</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
          </button>
      </div>
    </div>

    <div class="container-fluid UltorBG borderSilver">
      <h1 class="Stillwater" style="font-family: Shrikhand;">Featured Deals</h1>
    </div>
    <div id="featured" class="container-fluid py-2 SteelportBG">
      <div class="row align-items-center">
        <div class="col-lg-12" id="slider">
          <div id="thumbCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row text-center">
                  <div v-for="row in finalRows" class="col">
                    <div class="card text-center StillwaterBG">
                      <div class="card-header">
                        <h4 class="card-title textCutoff Ultor fw-bold" v-bind:title="row.description">{{ row.description }}</h4>
                      </div>
                      <div class="card-body StillwaterBG">
                        <img v-bind:src="row.pictureURL" v-bind:title="row.description" class="borderSilver dropShadow" style="margin-bottom:15px;">
                        <div class="d-flex justify-content-around">
                            <span class="badge rounded-pill UltorBG Stillwater lineHeight2 fs-6">${{row.price}}</span>
                            <a href="#" class="btn btn-rim">Add To Cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row text-center">
                  <div v-for="row in finalRows" class="col">
                    <div class="card text-center StillwaterBG">
                      <div class="card-header">
                        <h4 class="card-title textCutoff Ultor fw-bold" v-bind:title="row.description">{{ row.description }}</h4>
                      </div>
                      <div class="card-body StillwaterBG">
                        <img v-bind:src="row.pictureURL" v-bind:title="row.description" class="borderSilver dropShadow" style="margin-bottom:15px;">
                        <div class="d-flex justify-content-around ">
                            <span class="badge rounded-pill UltorBG Stillwater lineHeight2 fs-6">${{row.price}}</span>
                            <a href="#" class="btn btn-rim">Add To Cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev w-auto" href="#thumbCarousel" role="button" data-bs-slide="prev" @click="subPage">
              <div class="fa-4x">
                <i class="fas fa-angle-left Ultor"></i>
              </div>
            </a>
            <a class="carousel-control-next w-auto" href="#thumbCarousel" role="button" data-bs-slide="next" @click="addPage">
              <div class="fa-4x">
                <i class="fas fa-angle-right Ultor"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <hr class="featurette-divider">
      <div class="row featurette UltorBG Steelport borderSilver">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
          <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
          <div class="img-gradient-shadow">
            <img class="featurette-image img-fluid mx-auto borderSilver" width="500" height="500" src="/img/Rim_jobs_garagedoorred.webp" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
        </div>
      </div>
  
      <hr class="featurette-divider">
      <div class="row featurette UltorBG Steelport borderSilver">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <div class="img-gradient-red">
            <img class="featurette-image img-fluid mx-auto borderSilver" width="500" height="500" src="/img/Rim_jobs_garagedoorred.webp" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
          <div class="label_ctn"><span class="label">All Sports</span></div>
        </div>
      </div>
  
      <hr class="featurette-divider">
      <div class="row featurette UltorBG Steelport borderSilver">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
          <div class="img-gradient-orng">
            <img class="featurette-image img-fluid mx-auto borderSilver" width="500" height="500" src="/img/Rim_jobs_garagedoorred.webp" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
        </div>
      </div>

      <hr class="featurette-divider">
      <div class="row featurette UltorBG Steelport borderSilver">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
          <div class="img-gradient-ylw">
            <img class="featurette-image img-fluid mx-auto borderSilver" width="500" height="500" src="/img/Rim_jobs_garagedoorred.webp" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
        </div>
      </div>

      <hr class="featurette-divider">
      <div class="row featurette UltorBG Steelport borderSilver">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
          <div class="img-gradient-grn">
            <img class="featurette-image img-fluid mx-auto borderSilver" width="500" height="500" src="/img/Rim_jobs_garagedoorred.webp" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
        </div>
      </div>

      <hr class="featurette-divider">
      <div class="row featurette UltorBG Steelport borderSilver">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
          <div class="img-gradient-blu">
            <img class="featurette-image img-fluid mx-auto borderSilver" width="500" height="500" src="/img/Rim_jobs_garagedoorred.webp" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
        </div>
      </div>

      <hr class="featurette-divider">
      <div class="row featurette UltorBG Steelport borderSilver">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
          <div class="img-gradient-idgo">
            <img class="featurette-image img-fluid mx-auto borderSilver" width="500" height="500" src="/img/Rim_jobs_garagedoorred.webp" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
        </div>
      </div>

      <hr class="featurette-divider">
      <div class="row featurette UltorBG Steelport borderSilver">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
          <div class="img-gradient-vlt">
            <img class="featurette-image img-fluid mx-auto borderSilver" width="500" height="500" src="/img/Rim_jobs_garagedoorred.webp" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
        </div>
      </div>

  
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->


  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <!-- Vue.js -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- Components -->
  <script src="/fetchNavbar.js"></script>
  <script src="/featured.js"></script>
</body>

</html>