<!doctype html>
<html lang="en">

<head>
    <title>Rim Jobs</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome 6.2.0 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Rim Jobs CSS -->
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <header id="navbar"></header>
    <main>
        <div id="items"></div>
    </main>
    <div id="app">
        <h2>Shipping Costs</h2>
        <table>
          <thead>
            <tr>
              <th>Weight</th>
              <th>Cost</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="shippingBracket in shippingBrackets" :key="shippingBracket.weight">
              <td>{{ shippingBracket.weight }}</td>
              <td>{{ shippingBracket.cost === 'free' || shippingBracket.cost === 'Free' ? shippingBracket.cost : '$' + shippingBracket.cost}}</td>
              <td v-if="!(shippingBracket.cost === 'free' || shippingBracket.cost === 'Free')"><button @click="removeBracket(shippingBracket.rawWeight,shippingBracket.cost)">Remove</button></td>
            </tr>
          </tbody>
        </table>
        <form @submit.prevent="addBracket">
          <label for="addWeight">Weight:</label>
          <input type="number" id="addWeight" v-model="addWeight" required>
          <label for="addCost">Cost:</label>
          <input type="number" id="addCost" v-model="addCost" required>
          <button type="submit">Add weight bracket</button>
        </form>
        <p>{{ errMsg }}</p>
      </div>
</body>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <!-- Vue.js -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- Components -->
  <script src="/fetchNavbar.js"></script>
  <script src="/shippingfees.js"></script>

</html>
