<!doctype html>
<html lang="en">

<head>
  <title>Products</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <!-- Bootstrap CSS v5.3.0 Alpha -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
  <!-- FontAwesome 6.4.0 CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <!-- Rim Jobs CSS -->
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<style>
  [v-cloak] {
    display: none;
  }
</style>

<body class="stripe">
  <header id="navbar"></header>
  <main class="drawer">
    <div id="inventory" v-cloak>
      <div class="container-lg UltorBG borderSilver">
        <h1 class="Stillwater Shrikhand dropShadow m-2"><i class="far fa-rectangle-list"></i> Product Catalog</h1>
        <form @submit.prevent="searchPart">
          <div class="container mt-3 mb-3">
            <civ class="row">
              <input type="text" class="form-control col" v-model="searchTerm" placeholder="Search...">
              <button type="submit" class="col btn btn-rim StillwaterBG dropShadow mx-2"><i class="fas fa-magnifying-glass"></i> Search</button>
            </civ>
          </div>
        </form>
        <div class="container mt-3 mb-3" v-if="visible === true">
          <div class="row">
            <div class="col">
              <button class="btn btn-rim StillwaterBG w-100 dropShadow" @click="subPage"><i class="fas fa-arrow-left"></i> Previous
                Page</button>
            </div>
            <div class="col">
              <button class="btn btn-rim StillwaterBG w-100 dropShadow" @click="addPage">Next Page <i class="fas fa-arrow-right"></i></button>
            </div>
          </div>
        </div>
        <div v-if="nothingFound === true"><h3 class="Stillwater Shrikhand dropShadow">Nothing was returned from the search.</h3></div>
        <div v-for="(row, index) in filteredParts" :key="row.id" class="mt-3">
          <div class="row p-2 StillwaterBG Ultor rounded borderSilver w-100 mx-auto d-flex justify-content-around dropShadow">
            <div class="col-md-2"><img class="img-fluid img-responsive rounded borderSilver m-2 dropShadow" v-bind:title="capitalize(row.description)" v-bind:src="row.pictureURL"></div>
            <div class="col-md-6">
              <h4 class="m-2 text-capitalize" v-bind:title="capitalize(row.description)">{{row.description}}</h4>
              <span class="badge rounded-pill UltorBG Stillwater lineHeight2 fs-6">Weight: {{ row.weight }} lbs.</span>
              <span class="badge rounded-pill SteelportBG Pierce lineHeight2 fs-6">In Stock: {{ inventory[row.number - 1].quantity }}</span>
            </div>
            <div class="col-md-4">
              <div class="d-flex flex-column">
                <h4 class="m-2 text-center">${{ row.price }}</h4>
                <form class="row" validate="" onsubmit="return false">
                    <input class="form-control" min="1" :max="inventory[row.number - 1].quantity"
                      type="number" :disabled="inventory[row.number - 1].quantity === 0" placeholder="Quantity" v-model="qty[index]"
                      required="">
                    <button v-if="!isInCart(row.number) && !(inventory[row.number - 1].quantity === 0)" class="btn btn-rim btn-grn" onclick="greenlight(this)" type="Submit"
                      @click="addToCart(row.pictureURL, row.number, row.description, row.weight, row.price, inventory[row.number - 1].quantity, qty[index])"><i class="fas fa-cart-plus"></i> Add to Cart</button>
                    <button v-else-if="inventory[row.number - 1].quantity === 0" class="btn btn-rim" type="Submit" disabled> Out of Stock </button>
                    <a v-else class="in-cart btn btn-cart" href="/cart">In Cart <i class="fa-solid fa-check"></i></a>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="container mt-3 mb-3">
          <div class="row" v-if="visible === true">
            <div class="col">
              <button class="btn btn-rim StillwaterBG w-100 dropShadow" @click="subPage"><i class="fas fa-arrow-left"></i> Previous
                Page</button>
            </div>
            <div class="col">
              <button class="btn btn-rim StillwaterBG w-100 dropShadow" @click="addPage">Next Page <i class="fas fa-arrow-right"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="d-flex justify-content-center hideme">
      <img class="mx-auto w-25" src="/img/handle.png">
    </footer>
  </main>
</body>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <!-- Vue.js -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- Components -->
  <script src="/fetchNavbar.js"></script>
  <script src="/fetchParts.js"></script>

  <script>
    function greenlight( elem ) {
        $(elem).closest('button.btn-grn').addClass("btn-cart")
    }
  </script>

</html>
