<!DOCTYPE html>
<html>
<head>
  <title>Rim Jobs</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- FontAwesome 6.2.0 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Rim Jobs CSS -->
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
  <header id="navbar" style="background-color: #824538;"> </header>
    <div id="app">
      <div><p><strong>Search for part:</strong></p></div>
      <div>
        <label for="search" class="input-label">Name:</label>
        <input type="text" id="search" v-model="searchFor">
      </div>
      <div>
        <label for="minPrice" class="input-label">Min price:</label>
        <input type="number" id="minPrice" v-model="minPrice">
      </div>
      <div>
        <label for="maxPrice" class="input-label">Max price:</label>
        <input type="number" id="maxPrice" v-model="maxPrice">
      </div>
      <table>
        <thead>
          <tr>
            <th>Part number</th>
            <th>Description</th>
            <th>Price</th>
            <th>Weight</th>
            <th>Picture URL</th>
            <th>Inventory Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="row in filteredParts" :key="row.id">
            <td>{{ row.number }}</td>
            <td>{{ row.description }}</td>
            <td>{{ row.price }}</td>
            <td>{{ row.weight }}</td>
            <td><img v-bind:src="row.pictureURL" width="35" height="35"></td>
            <td>{{ row.amount }}</td>
          </tr>
        </tbody>
      </table>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          finalRows: [],
          searchFor: '',
          minPrice: null,
          maxPrice: null
        };
      },
      computed: {
        filteredParts() {
          let parts = this.finalRows.filter(part => {
            return part.description.toLowerCase().includes(this.searchFor.toLowerCase());
          });
          
          if (this.minPrice !== null && this.maxPrice !== null && this.minPrice !== '' && this.maxPrice !== '') {
            parts = parts.filter(part => {
              return parseFloat(part.price) >= parseFloat(this.minPrice) &&
                     parseFloat(part.price) <= parseFloat(this.maxPrice);
            });
          }
          
          return parts;
        }
      },
      mounted() {
        fetch('/legacyparts')
          .then(response => response.json())
          .then(data => {
            this.finalRows = data;
            console.log('parts have been received!')
          })
          .catch(error => {
            console.log('Error:', error);
          });
      },
    }).mount('#app');
  </script>
</body>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Components -->
<script src="/fetchNavbar.js"></script>
</html>
