<!doctype html>
<html lang="en">

<head>
  <title>Rim Jobs</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <!-- FontAwesome 6.2.0 CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <!-- Rim Jobs CSS -->
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
  <header id="navbar"></header>
  <main>
    <div class="container" id="inventory">
      <div><p><strong>Search for part:</strong></p></div>
      <div>
        <label for="search" class="input-label">Name:</label>
        <input type="text" id="search" v-model="searchFor">
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Price</th>
            <th>Weight</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="row in filteredParts" :key="row.id">
            <td><img v-bind:src="row.pictureURL" width="50" height="50"></td>
            <td>{{ capitalize(row.description) }}</td>
            <td>{{ row.price }}</td>
            <td>{{ row.weight }}</td>
            <td><button type="button" class="btn btn-light">Add to Cart</button></td>
          </tr>
        </tbody>
      </table>
      <div class="container">
        <div class="row">
          <div class="col">
            <button class="btn btn-light" style="width: 100%;" :disabled="firstPage" @click="subPage">Previous Page</button>
          </div>
          <div class="col">
            <button class="btn btn-light" style="width: 100%;" @click="addPage">Next Page</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
</body>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<!-- Vue.js -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!-- Components -->
<script src="/fetchNavbar.js"></script>
<script src="/fetchParts.js"></script>
</html>