$Stillwater: #DDD8CF;
$Ultor: #824538;
$Steelport: #686868;
$Pierce: #d4d3d5;

@font-face {
    font-family: Alkatra;
    src: url(Alkatra-VariableFont_wght.ttf);
}

@font-face {
    font-family: Shrikhand;
    src: url(Shrikhand-Regular.ttf);
}

.nav-link {
    font-family: Shrikhand;
    color: $Stillwater;
}

.nav-link:hover {
    --bs-nav-link-hover-color: #d4d3d5;
}

a {
    background-size: 200% 100%;
    background-position: -100%; 
    display: inline-block;
    padding: 5px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
}

a:before {
    content: '';
    background: $Pierce;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

a:hover {
   background-position: 0;
} 
  
a:hover::before {
    width:100%;
}

body {
    font-family: Alkatra;
    background-color: $Stillwater;
    color: $Steelport
}

.blurit {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.Stillwater {
    color: $Stillwater;
}

.Ultor {
    color: $Ultor;
}

.Steelport {
    color: $Steelport;
}

.Pierce {
    color: $Pierce;
}

.borderSilver
{
    border: 3px solid $Steelport;
}
