@font-face {
  font-family: Alkatra;
  src: url(../fonts/Alkatra-VariableFont_wght.ttf);
}
@font-face {
  font-family: Shrikhand;
  src: url(../fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: Seven Segment;
  src: url(../fonts/Seven\ Segment.ttf);
}
.nav-link {
  font-family: Shrikhand;
}
.nav-link:hover {
  --bs-nav-link-hover-color: #e6e5e7;
}
.nav-link:focus {
  --bs-nav-link-hover-color: #e6e5e7;
}

[v-cloak] {
  display: none;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  color: #DDD8CF;
}
.dropdown-item:active {
  color: #e6e5e7;
  background-color: #686868;
}
.dropdown-item:focus {
  color: #e6e5e7;
  background-color: #686868;
}
.dropdown-item:hover {
  color: #686868;
  background-color: #DDD8CF;
}

a {
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  transition: all 0.3s ease-in-out;
}
a:before {
  content: "";
  background: #e6e5e7;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
a:hover {
  background-position: 0;
}
a:hover:before {
  width: 100%;
}

.table {
  --bs-table-hover-color: $Ultor ;
}

.table-striped {
  --bs-table-striped-color: $Steelport ;
}

.form-floating:not(.form-control:disabled)::before {
  position: unset;
  background-color: transparent;
}

.list-group-item {
  background-color: #DDD8CF;
  color: #686868;
  border-color: #686868;
}

.carousel-indicators .active {
  color: #e6e5e7;
}

.lineHeight2 {
  line-height: 2;
}

body {
  font-family: Alkatra;
  background-color: #DDD8CF;
}

.dropShadow {
  filter: drop-shadow(10px 10px 8px #3d3d3d);
}

.textCutoff {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 250px;
}

.Shrikhand {
  font-family: Shrikhand !important;
}

.SevenSegment {
  font-family: Seven Segment !important;
  background-color: #3d3d3d;
  color: crimson;
}
.SevenSegment:last-of-type {
  color: #21b26e;
}
.SevenSegment.col-4 {
  color: #f7ae00;
}

.btn-rim {
  font-size: large;
  color: #e6e5e7 !important;
  background: linear-gradient(rgba(0, 0, 0, 0), #686868 100%);
}
.btn-rim:hover {
  color: #824538;
  background: linear-gradient(#e6e5e7, #686868 100%);
}
.btn-rim:focus {
  color: #824538;
  background: linear-gradient(#e6e5e7, #686868 100%);
}
.btn-rim:active {
  color: #e6e5e7;
  background: linear-gradient(#e6e5e7, #686868 100%);
}

.btn-cart {
  font-size: large;
  color: #e6e5e7 !important;
  background: linear-gradient(#198754, #686868 100%);
}
.btn-cart:hover {
  color: #e6e5e7;
  background: linear-gradient(#21b26e, #686868 100%);
}
.btn-cart:focus {
  background: linear-gradient(#21b26e, #686868 100%);
}
.btn-cart:active {
  background: linear-gradient(#198754, #686868 100%);
}

.SilverBG {
  background: linear-gradient(rgba(0, 0, 0, 0), #686868 100%);
}

.Stillwater {
  color: #DDD8CF;
}

.StillwaterBG {
  background-color: #DDD8CF;
}

.Ultor {
  color: #824538;
}

.UltorBG {
  background-color: #824538;
}

.Steelport {
  color: #686868;
}

.SteelportBG {
  background-color: #686868;
}

.Pierce {
  color: #e6e5e7;
}

.PierceBG {
  background-color: #e6e5e7;
}

.borderSilver {
  border: 5px solid #686868;
}

.borderSteel {
  border: 10px solid #686868;
}

.borderStill {
  border: 5px solid #DDD8CF;
}

@media print and (max-width: 600px) {
  #navbar {
    display: none !important;
  }
  .dropShadow {
    filter: none;
  }
}
.cssanimation, .cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cssanimation2, .cssanimation2 span {
  animation-duration: 1.2s;
  animation-fill-mode: both;
}

.cssanimation span {
  display: inline-block;
}

.fadeInBottom {
  animation-name: fadeInBottom;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
    overflow: hidden;
  }
  to {
    opacity: 1;
  }
}
.stripe {
  background-color: #2a2929;
  background-image: repeating-linear-gradient(-25deg, transparent, transparent 1rem, #414141 1rem, #1b1a1a 2rem);
  background-size: 200% 200%;
  animation: barberpole 240s linear infinite;
}

.stripe-alt {
  background-color: #2a2929;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 1rem, #414141 1rem, #1b1a1a 2rem);
  background-size: 200% 200%;
  animation: barberpole 70s linear infinite;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}
header {
  z-index: 1;
  position: sticky;
}

.drawer {
  z-index: -1;
  animation: slide-down 2s;
}

@keyframes slide-down {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

/*# sourceMappingURL=stylesheet.css.map */
