@font-face {
  font-family: Alkatra;
  src: url(../fonts/Alkatra-VariableFont_wght.ttf);
}
@font-face {
  font-family: Shrikhand;
  src: url(../fonts/Shrikhand-Regular.ttf);
}
.nav-link {
  font-family: Shrikhand;
}
.nav-link:hover {
  --bs-nav-link-hover-color: #e6e5e7;
}
.nav-link:focus {
  --bs-nav-link-hover-color: #e6e5e7;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  color: #DDD8CF;
}
.dropdown-item:active {
  color: #e6e5e7;
  background-color: #686868;
}
.dropdown-item:focus {
  color: #e6e5e7;
  background-color: #686868;
}
.dropdown-item:hover {
  color: #686868;
  background-color: #DDD8CF;
}

a {
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  transition: all 0.3s ease-in-out;
}
a:before {
  content: "";
  background: #e6e5e7;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
a:hover {
  background-position: 0;
}
a:hover:before {
  width: 100%;
}

body {
  font-family: Alkatra;
  background-color: #DDD8CF;
}

.blurit {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.textCutoff {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 250px;
}

.Stillwater {
  color: #DDD8CF;
}

.StillwaterBG {
  background-color: #DDD8CF;
}

.Ultor {
  color: #824538;
}

.UltorBG {
  background-color: #824538;
}

.Steelport {
  color: #686868;
}

.SteelportBG {
  background-color: #686868;
}

.Pierce {
  color: #e6e5e7;
}

.PierceBG {
  background-color: #e6e5e7;
}

.borderSilver {
  border: 5px solid #686868;
}

.img-gradient-shadow {
  position: relative;
  display: inline-block;
}
.img-gradient-shadow:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(rgba(0, 0, 0, 0), #686868 100%);
}
.img-gradient-shadow img {
  display: block;
}

.img-gradient-red {
  position: relative;
  display: inline-block;
}
.img-gradient-red:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(207, 42, 30) 100%);
}
.img-gradient-red img {
  display: block;
}

.img-gradient-orng {
  position: relative;
  display: inline-block;
}
.img-gradient-orng:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(184, 57, 11) 100%);
}
.img-gradient-orng img {
  display: block;
}

.img-gradient-ylw {
  position: relative;
  display: inline-block;
}
.img-gradient-ylw:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(255, 220, 46) 100%);
}
.img-gradient-ylw img {
  display: block;
}

.img-gradient-grn {
  position: relative;
  display: inline-block;
}
.img-gradient-grn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(51, 184, 11) 100%);
}
.img-gradient-grn img {
  display: block;
}

.img-gradient-blu {
  position: relative;
  display: inline-block;
}
.img-gradient-blu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(11, 173, 184) 100%);
}
.img-gradient-blu img {
  display: block;
}

.img-gradient-idgo {
  position: relative;
  display: inline-block;
}
.img-gradient-idgo:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(30, 48, 105) 100%);
}
.img-gradient-idgo img {
  display: block;
}

.img-gradient-vlt {
  position: relative;
  display: inline-block;
}
.img-gradient-vlt:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(100, 11, 184) 100%);
}
.img-gradient-vlt img {
  display: block;
}

@media print and (max-width: 600px) {
  #navbar {
    display: none !important;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
