$Stillwater: #DDD8CF;
$Ultor: #824538;
$Steelport: #686868;
$Pierce: #e6e5e7;

//Fonts
@font-face {
    font-family: Alkatra;
    src: url(../fonts/Alkatra-VariableFont_wght.ttf);
}

@font-face {
    font-family: Shrikhand;
    src: url(../fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: Seven Segment;
    src:url(../fonts/Seven\ Segment.ttf);
}

//Navbar
.nav-link {
    font-family: Shrikhand;
    &:hover {
        --bs-nav-link-hover-color: #e6e5e7;
    }
    &:focus {
        --bs-nav-link-hover-color: #e6e5e7;
    }
}

.dropdown-toggle::after {
    display:none;
}

.dropdown-item {
    color: $Stillwater;
    &:active {
        color: $Pierce;
        background-color: $Steelport;
    }
    &:focus {
        color: $Pierce;
        background-color: $Steelport;
    }
    &:hover {
        color: $Steelport;
        background-color: $Stillwater;
    }
}

a {
    background-size: 200% 100%;
    background-position: -100%; 
    display: inline-block;
    padding: 5px 0;
    position: relative;
    transition: all 0.3s ease-in-out;

    &:before {
        content: '';
        background: $Pierce;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        background-position: 0;
        &:before {
            width:100%;
        }
    } 
}

.table {
    --bs-table-hover-color: $Ultor
}

.table-striped {
    --bs-table-striped-color: $Steelport
}

.form-floating:not(.form-control:disabled)::before {
    position: unset;
    background-color: transparent;
}

.list-group-item {
    background-color: $Stillwater;
    color: $Steelport;
    border-color: $Steelport;
}

.carousel-indicators .active {
    color: $Pierce;
}

.lineHeight2 {
    line-height: 2;
}

//Body and modifier classes
body {
    font-family: Alkatra;
    background-color: $Stillwater;
}

.dropShadow {
    filter: drop-shadow(10px 10px 8px #3d3d3d);
}

.textCutoff {
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
    max-width: 250px;
}

.Shrikhand {
    font-family: Shrikhand!important;
}

.SevenSegment {
    font-family: Seven Segment!important;
    background-color: #3d3d3d;
    color: crimson;
    &:last-of-type {
        color:#21b26e
    }
    &.col-4 {
        color: #f7ae00
    }
}

.btn-rim {
    font-size: large;
    color: $Pierce!important;
    background: linear-gradient(rgba(0,0,0,0), $Steelport 100%);
    &:hover {
        color: $Ultor;
        background: linear-gradient($Pierce, $Steelport 100%);
    }
    &:focus {
        color: $Ultor;
        background: linear-gradient($Pierce, $Steelport 100%);
    }
    &:active {
        color: $Pierce;
        background: linear-gradient($Pierce, $Steelport 100%);
    }
}

.btn-cart {
    font-size: large;
    color: $Pierce!important;
    background: linear-gradient(#198754, $Steelport 100%);
    &:hover {
        color: $Pierce;
        background: linear-gradient(#21b26e, $Steelport 100%);
    }
    &:focus {
        background: linear-gradient(#21b26e, $Steelport 100%);
    }
    &:active {
        background: linear-gradient(#198754, $Steelport 100%);
    }
}

.SilverBG {
    background: linear-gradient(rgba(0,0,0,0), $Steelport 100%);
}

.Stillwater {
    color: $Stillwater;
}

.StillwaterBG {
    background-color: $Stillwater;
}

.Ultor {
    color: $Ultor;
}

.UltorBG {
    background-color: $Ultor;
}


.Steelport {
    color: $Steelport;
}

.SteelportBG {
    background-color: $Steelport;
}

.Pierce {
    color: $Pierce;
}

.PierceBG {
    background-color: $Pierce;
}

.borderSilver {
    border: 5px solid $Steelport;
}

.borderSteel {
    border: 10px solid $Steelport;
}

.borderStill {
    border: 5px solid $Stillwater;
}
  
@media print and (max-width: 600px) {
    #navbar {
        display: none !important;
    }
}

//Animations

.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation2, .cssanimation2 span {
    animation-duration: 1.2s;
    animation-fill-mode: both;
}

.cssanimation span {
    display: inline-block
}

.fadeInBottom {
    animation-name: fadeInBottom
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
        overflow: hidden;
    }

    to {
        opacity: 1
    }
}

.stripe {
    background-color: #2a2929;
    background-image: 
      repeating-linear-gradient(
        -25deg, 
        transparent, 
        transparent 1rem,
        #414141 1rem,
        #1b1a1a 2rem
      );
    background-size: 200% 200%;
    animation: barberpole 240s linear infinite;
}

.stripe-alt {
    background-color: #2a2929;
    background-image: 
      repeating-linear-gradient(
        -45deg, 
        transparent, 
        transparent 1rem,
        #414141 1rem,
        #1b1a1a 2rem
      );
    background-size: 200% 200%;
    animation: barberpole 70s linear infinite;
}
  
@keyframes barberpole {100% {background-position: 100% 100%;}}

header {
    z-index: 1;
    position: sticky;
}

.drawer {
    z-index: -1;
    animation: slide-down 2s;
 }
 @keyframes slide-down { 
    0%{ transform: translate3d(0, -100%, 0); }
    100%{ transform: translate3d(0, 0, 0); }
 }